
html {
	scroll-behavior: smooth;
  }

body {
	background-color: #FFFEE0 !important;
  }

/*scroll to top */

.arrow {
	margin: 0.1% 0 !important;
	
	}
	.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
	}
  
	@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
	}


#return-to-top {
	
    position: fixed;
    bottom: 5.5%;
    right: 8%;
    background: #fffee000;
    display: block;
    display: none;
    /*-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
}

#return-to-top i {
    color: rgb(68, 34, 34);
	font-size: 3.1rem;
     /*margin: 0;
    position: relative;
    
   -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
	
}

a#return-to-top:hover::after{
    /*background: rgba(23, 87, 129, 0.993);
	text-align: center;*/
	text-decoration-color: rgb(255, 0, 0);
	color: rgb(241, 0, 0) ;
	font-weight: bold;
	z-index: 1 ;
	font-family: 'Montserrat', sans-serif;
	
}
 #return-to-top:hover i {
    color: rgb(255, 0, 0);
    /*top: 5px;*/

	
}



/****************************************************************/
