@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');


:root{
  --primary-white: #fff;
  --primary-orange: #f96400;
  --primary-sky: #08f0dc;
  --primary-black: #000000;
  --primary-red: #ff0000;
  --primary-red-dark: #570404;
  --primary-dark: rgba(255, 255,255,0);
  --primary-dark-grey: #7c7777;
  --primary-dark-b: rgb(36, 42, 48);
  --primary-dark-transparent: rgba(36, 42, 48, 0);
  --primary-light-grey: rgb(151, 152, 153);
  --primary-hover-red: #f33501;
  --primary-green: green;
  --primary-drop: rgba(33, 36, 33, 0.836);
  --primary-tint: #bdf2f3;
  --primary-sea-green : #07635e;
  --primary-background: #126b6b;
  --primary-details: #031515;
  --primary-date: #e9fafb;
  --primary-dark-a: rgb(31, 37, 44);

  --experience-background: #b4a6d1;
  --about-me-background: #aa9b7f;
  --about-me-img-text: #5f2d20;
  --contact-me-background: #6a869f;
  --header-text: #244980;
  
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'David Libre', serif;
}

/*************************NAVBAR START********************************/

nav{
  z-index: 2;
}

nav a.nav.link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-orange) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  font-family: 'Dangrek', cursive;
  font-size: 1.3rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-sky);
}

.navbar-nav > li > .dropdown-menu { 
  background-color: var(--primary-dark-transparent);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.dropdown:hover > .dropdown-menu {
  display: block;
  border: 0 !important;
  box-shadow: none;
  background-color: var(--primary-drop);
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.dropdown-item {
  color: var(--primary-orange) !important;
  font-family: 'Dangrek', cursive;
  font-size: 1.3rem;
}

.dropdown-menu a:hover {
  color: var(--primary-white) !important;
  background-color: var(--primary-dark-transparent);
  border-bottom: 0.1875rem solid var(--primary-orange);
  }

/*@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
 }*/

/*************************NAVBAR END | HEADER START********************************/

.header-wraper {
  margin-top: 3.7%;
  position: relative;
  background: url(images/main/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;

  }
}*/

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;  
  font-family: 'Dangrek', cursive;
  padding-top: 6rem;
  padding-left: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.main-info {
  color: var(--primary-black);
  position: relative;
  top: 9rem;
  left: 1.5rem;
  right: 0;
  bottom: 0;
}
.typed-text1 {
  padding-left: 9.65rem;
}
.typed-text2 {
  padding-left: 3.4rem;
}

.typed-text-static{
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: var(--about-me-img-text);
  position: relative;
}

.name{
  font-size: 4.688rem;
  font-weight: 600;
  margin-left: -0.188rem;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  color: #000000;
  z-index:2;
}

.head {
  background: var(--primary-dark-a);
}

.header-wraper .main-info .text-1{
  font-weight: bold;
  font-size: 6.98rem;
  background: -webkit-linear-gradient(82deg, #000000, #ff0048);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-wraper .main-info .text-2{
  font-size: 1.82rem;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(6, 236, 167),#c300ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-3 {
  font-size: 1.82rem;
  font-weight: bold; background: -webkit-linear-gradient(black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h1 {
  font-family: 'Dangrek', cursive;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 0.7rem;
  overflow: hidden;
}

.item {
  width: 35px;
  height: 35px;
  margin : 0.7rem;
}

.item-1 {
  background: url(images/icons/java.svg) no-repeat;
}
.item-2 {
  background: url(images/icons/node-js.svg) no-repeat;
}
.item-3 {
  background: url(images/icons/react.svg) no-repeat;
}
.item-4 {
  background: url(images/icons/js.svg) no-repeat;
}
.item-5 {
  background: url(images/icons/html5.svg) no-repeat;
}
.item-6 {
  background: url(images/icons/css3.svg) no-repeat;
}
.item-7 {
  background: url(images/icons/git.svg) no-repeat;
}
.item-8 {
  background: url(images/icons/db.svg) no-repeat;
}

.icons-list {
  padding-left: 1rem;
}

/*************************HEADER END | ABOUT ME START********************************/

.about {
  background-color: var(--about-me-background);
}

.about-heading {
  font-family: 'Dangrek', cursive;
  color: var(--header-text) !important;
}

.about-me-dets p {
  color: var(--primary-dark-b);
  font-family: 'David Libre', serif;
  font-weight: bolder;
  font-size: 1.1rem;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .5rem;
  border: 1px solid var(--primary-red);
}

.photo-wrap {
  padding-top: 2rem;
}

.imageDesc {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.14rem;
  color: var(--about-me-img-text);
  padding-top: -1rem;
  font-weight: bold;
}

.about-heading {
  text-transform: uppercase;
}

.typed-text{
  font-size: 1.6rem;
  position: relative;
  background: -webkit-linear-gradient(rgb(53, 65, 33),#041436);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

/*@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}*/

/*************************ABOUT ME END | MY JOURNEY START********************************/

.experience {
  padding: 0.7rem;
  background-color: var(--experience-background);
}

.experience-heading {
  font-family: 'Dangrek', cursive;
  color: var(--header-text) !important;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-dark-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-black);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-b);
  font-weight: bolder;
}

.timeline-content h3 {
  margin-top: 0.15rem;
  color: var(--about-me-img-text);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.65rem;
}

/*.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 18.7rem;
  height: 10rem;
  cursor: pointer;
  border: 1px solid var(--primary-hover-red);
  margin-left: 2rem;
  margin-right: 2rem;
}*/

.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary-dark-grey);
  width: 21.2rem;
  height: 2.5rem;
  cursor: pointer;
  border: 3px solid var(--primary-black);
  margin-top: -.2rem;
  margin-bottom: 3rem;
  margin-right: 1.1rem;
  margin-left: 1.1rem;
}

.click-text{
  position: relative;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif !important;
  color: var(--primary-black);
  font-size: 1rem;
  font-weight: bold;
  display:inline-block;
  padding: 6.5px;
  margin-right: 6.5rem;
  margin-left: 6.5rem;
}


.timeline-block:hover .overflow {
  opacity: 93%;
  transition: 0.3s ease-in-out;
}



.popupbox-wrapper {
  /*background-color: #000000 !important;*/
  width: 50rem;
}

.popupbox-overlay {
 background-color: #ffffff00 !important;
}

.exp_body {
  
  font-family: 'Josefin Sans', sans-serif;
  color: var(--primary-black);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;

}

.exp_header {
  font-family: 'David Libre', serif;
  color: var(--primary-red);
  text-align: center;
  font-weight: bolder;
  font-size: 1.4rem;
}

.tool-icon-right {
  position: absolute;
  opacity: 1;
  margin-left: 21rem;
  margin-top: .35rem;
  color: var(--primary-black);
  font-size: 1.5rem;
}

.tool-icon {
  position: absolute;
  opacity: 1;
  margin-right: 21rem;
  margin-top: .35rem;
  color: var(--primary-black);
  font-size: 1.5rem;
}

.org-pic {
  display: flex;
  justify-content: center;
  }
  
  .org_img {
  width: 15rem;
  
  }

  .org-pic {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


/*@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}*/

/*@media(max-width: 768px) {
  .org_img {
    width: 100%;
  }
}

@media(max-height: 570px) {
.popupbox-wrapper {
  height: 100%;
}
  .org_img {
    display: none;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
    .org_img {
      display: none;
    }
  }*/


.cv-btn {
  border: 3px solid var(--primary-red);
  border-radius: 50rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem;
}

.cv-btn:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}


/*************************MY JOURNEY END | TECHS START********************************/
.techs {
  background-image: url(images/main/black.jpg);
  background-size: cover;
  background-color: var(--primary-white);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.techs h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  padding: 3rem 0;
}

.techs-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
}

.techsCarou {
  color: var(--primary-sky);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 8rem;
}

.carousel .slide img {
  width: 10rem !important;
}


/*************************TECHS END | CONTACTS START********************************/

.contacts {
  background: url(images/main/contact.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-dark-b);
  font-size: 1.2rem;
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-black);
  margin: 2rem;
  font-weight: bold;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/*---------------------INPUTS------------------------*/



.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: none;
  border-bottom: 0.125rem solid var(--primary-white);
  border-radius: 0;
  color: var(--primary-details);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
  font-family: 'Dangrek', cursive;


  /*  margin-top: 3.7%;
  position: relative;
  background: url(images/main/banner1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;*/
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-black);
  border-bottom: 0.125rem solid var(--primary-dark-b);
  font-family: 'Dangrek', cursive;
}

.contacts textarea {
  height: 16.98rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}


.line {
  position: relative;
  top: -2.1rem;
  width: 0;
  height: 0.2rem;
  background: var(--primary-orange);
  display: inline-block;
}

.text-center ::placeholder {
  
  font-family: 'Dangrek', cursive;
  text-transform: uppercase;
  color: var(--primary-dark-grey);
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input .form-control {
  margin: -0.3rem 0;
}

textarea .form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-red);
  text-align: left;
  font-family: 'Dangrek', cursive;
  text-transform: uppercase;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
  font-family: 'Dangrek', cursive;
  text-transform: uppercase;
}



/*---------------- MEDIA -----------------------*/
/*@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}*/
