@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');



:root{
  --primary-white: #fff;
  --primary-orange: #f96400;
  --primary-sky: #08f0dc;
  --primary-black: #000000;
  --primary-red: #ff0000;
  --primary-red-dark: #570404;
  --primary-dark: rgba(255, 255,255,0);
  --primary-dark-grey: #7c7777;
  --primary-dark-b: rgba(36, 42, 48, 0.76);
  --primary-dark-transparent: rgba(36, 42, 48, 0);
  --primary-light-grey: rgb(151, 152, 153);
  --primary-hover-red: #f33501;
  --primary-green: green;
  --primary-drop: rgba(33, 36, 33, 0.836);
  --primary-tint: #bdf2f3;
  --primary-sea-green : #07635e;
  --primary-background: #126b6b;
  --primary-details: #031515;
  --primary-date: #e9fafb;
  --primary-dark-a: rgb(31, 37, 44);
  --primary-drop-b: #08555575;
  --primary-black-light: rgba(0, 0, 0, 0.781);
  --primary-dark-green:#104e2a;
  --primary-dark-red:#4e1010;

  --experience-background: #FFFEE0;
  --about-me-background: #FFFEE0;
  --about-me-img-text: #5f2d20;
  --contact-me-background: #6a869f;
  --header-text: #244980;

  --back-colour: #FFFEE0;
  
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'David Libre', serif;
}

/*************************NAVBAR START********************************/

nav{
  z-index: 2;
}

nav a.nav.link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar {
  width:50% !important;
  background: #FFFEE0;
  height: 2.95rem;
  margin-left: 25%;
}





.navbar-nav > li > a {
  margin-right: 1%;
  margin-left: 15%;
  color: var(--primary-black) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  font-family: 'David Libre', serif;
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.15rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-sky);
}

.navbar-nav > li > .dropdown-menu { 
  background-color: var(--primary-dark-transparent);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.dropdown:hover > .dropdown-menu {
  display: block;
  border: 0 !important;
  box-shadow: none;
  background-color: var(--primary-drop);
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.dropdown-item {
  color: var(--primary-orange) !important;
  font-family: 'David Libre', serif;
  font-size: 1.3rem;
}

.dropdown-menu a:hover {
  color: var(--primary-white) !important;
  background-color: var(--primary-dark-transparent);
  border-bottom: 0.1875rem solid var(--primary-orange);
  }

/*@media(max-width: 768px) {
  .navbar {
    width: 10rem !important;
  }
 }*/

/*************************NAVBAR END | HEADER START********************************/

.header-wraper {
  position: relative;
  background: url(images/main/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-left: 3% !important;
  margin-right: 3% !important;
  margin-bottom: 3rem !important;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}




.arrow-head {
  text-align: center;
  margin: 20% 0;
  text-decoration: none;
  font-weight: bold;
}

.arrow-head a { color: var(--back-colour); text-decoration: none; }

.bounce-head {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;

  }
}*/

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;  
  font-family: 'Montserrat', sans-serif;
  padding-top: 10%;
  padding-left: 3.5%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.main-info {
  color: var(--primary-black);
  position: relative;
  top: 6rem;
  left: 1.5rem;
  right: 0;
  bottom: 0;
}
.typed-text1 {
  padding-left: 10rem;
}
.typed-text2 {
  padding-left: 3.9rem;
}

.typed-text-static{
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: var(--about-me-img-text);
  position: relative;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  color: #000000;
  z-index:2;
}

.head {
  background: var(--back-colour);
}

.header-wraper .main-info .text-1{
  font-weight: bold;
  font-size: 6.98rem;
  background: -webkit-linear-gradient(82deg, #000000, #ff0048);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-wraper .main-info .text-2{
  font-size: 1.82rem;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(6, 236, 167),#c300ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-3 {
  font-size: 1.82rem;
  font-weight: bold; background: -webkit-linear-gradient(black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.icons-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 0.7rem;
  overflow: hidden;
}

.item {
  width: 35px;
  height: 35px;
  margin : 0.7rem;
}

.item-1 {
  background: url(images/icons/java.svg) no-repeat;
}
.item-2 {
  background: url(images/icons/node-js.svg) no-repeat;
}
.item-3 {
  background: url(images/icons/react.svg) no-repeat;
}
.item-4 {
  background: url(images/icons/js.svg) no-repeat;
}
.item-5 {
  background: url(images/icons/html5.svg) no-repeat;
}
.item-6 {
  background: url(images/icons/css3.svg) no-repeat;
}
.item-7 {
  background: url(images/icons/git.svg) no-repeat;
}
.item-8 {
  background: url(images/icons/db.svg) no-repeat;
}

.icons-list {
  padding-left: 2.6rem;
}

/*************************HEADER END | ABOUT ME START********************************/

.about {
  background-color: var(--about-me-background);
}

.about-this {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height:1.1em;
  margin-left: -6rem;
}

.about-story{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height:1.1em;
  margin-left: -6rem;
}

.about-me-dets{
  margin-top: 4rem;
}

.about-me-dets p {
  color: var(--primary-black);
  font-family: 'David Libre', serif;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-left: -6rem;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/images/main/me.jpg");
  height: 45rem;
  width: 100%;
  margin-left: 4%;
  margin-top: -15% !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 28%;
  background-position-x: 20%;
  background-position-y: center;/*
  -webkit-animation: 3s linear 0s infinite alternate move_eye;
          animation: 3s linear 0s infinite alternate move_eye;*/
}

@-webkit-keyframes move_eye { from { margin-left: -30%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -30%; } to { margin-left: 100%; }  }



hr .hr-about {
  margin-right: 2% !important;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .5rem;
  border: 1px solid var(--primary-red);
}

.photo-wrap {
  padding-top: 2rem;
}

.desc-wrapper {
  margin-left: 10%;
  margin-right: 2%;
  text-align: left;
}

.about .container {
  overflow: hidden;
}

.imageDesc {
  text-align: left !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 1rem !important;
  color: var(--about-me-img-text) !important;
  padding-top: -1rem !important;
  font-weight: bold !important;
  background:var(--back-colour) !important;
}

.typed-text{
  font-size: 1.5rem;
  position: absolute;
  background: -webkit-linear-gradient(rgb(53, 65, 33),#041436);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 6.5rem;
}

.test {
  margin-left: -120rem;
}

/*@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}*/



/**************************EXTENDED**************************/

.perspective-text {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.about-me-extended {  
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--back-colour);
  overflow: hidden;
  margin-left: -55%;
  margin-top: -5% !important;
  margin-bottom: -2% !important;
  height: 40rem;

  background: url(images/main/extended1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-extended p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
  background: #07141b;
  color: #08f0dc;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f0b86e;color: #3d1313;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #07141b;color: #08f0dc;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #f0b86e;color: #3d1313;
}

.perspective-line:nth-child(5) {
  left: 145px;
  background: #07141b;color: #08f0dc;
}

.perspective-line:nth-child(6) {
  left: 174px;
  background: #3d1313;color: #f0b86e;
}

.perspective-line:nth-child(7) {
  left: 203px;
}


/*************************ABOUT ME END | MY JOURNEY START********************************/

.experience {
  padding: 0.7rem;
  background: url(images/main/experience.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  
.experience-block {
  background: var(--back-colour);
  margin-left: 24%;
  margin-right: 24%;
  margin-bottom: 6rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-dark-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;

}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-black);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-b);
  
  
}

.timeline-content h3 {
  margin-top: 0.15rem;
  color: var(--about-me-img-text);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.65rem;
}

/*.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 18.7rem;
  height: 10rem;
  cursor: pointer;
  border: 1px solid var(--primary-hover-red);
  margin-left: 2rem;
  margin-right: 2rem;
}*/

.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary-details);
  width: 38%;
  height: 2.5rem;
  cursor: pointer;
  border: 3px solid var(--primary-black);
  margin-top: -.2rem;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.click-text{
  position: relative;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif !important;
  color: var(--primary-orange);
  font-size: 1rem;
  font-weight: bold;
  display:inline-block;
  padding: 6.5px;
  margin-right: 28%;
  margin-left: 28%;
}


.timeline-block:hover .overflow {
  opacity: 93%;
  transition: 0.3s ease-in-out;
}

.popupbox-wrapper {
  /*background-color: #FFFEE0 !important;*/
  width: 53%;
}

.popupbox-overlay {
 background-color: #ffffff00 !important;
}

.exp_body {
  
  font-family: 'Josefin Sans', sans-serif;
  color: var(--primary-black);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;

}

.exp_header {
  font-family: 'David Libre', serif;
  color: var(--primary-red);
  text-align: center;
  font-weight: bolder;
  font-size: 1.4rem;
}

.tool-icon-right {
  position: absolute;
  opacity: 1;
  margin-left: 21rem;
  margin-top: .35rem;
  color: var(--primary-black);
  font-size: 1.5rem;
}

.tool-icon {
  position: absolute;
  opacity: 1;
  margin-right: 21rem;
  margin-top: .35rem;
  color: var(--primary-black);
  font-size: 1.5rem;
}

.org-pic {
  display: flex;
  justify-content: center;
  }
  
  .org_img {
  width: 120%;
  
  }

  .org-pic {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


/*@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}*/

/*@media(max-width: 768px) {
  .org_img {
    width: 100%;
  }
}

@media(max-height: 570px) {
.popupbox-wrapper {
  height: 100%;
}
  .org_img {
    display: none;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
    .org_img {
      display: none;
    }
  }*/



  *,
  :before,
  :after {
      box-sizing: border-box;
  }
  
  h3 {
      animation: text-shadow 1.5s ease-in-out infinite;
      font-size: 5em;
      font-weight: 900;
      line-height: 1;
  }
  
  /*h3:hover {
      animation-play-state: paused;
  }*/
  
  
  @keyframes text-shadow {
      0% {  
          transform: translateY(0);
          text-shadow: 
              0 0 0 #0c2ffb, 
              0 0 0 #2cfcfd, 
              0 0 0 #fb203b, 
              0 0 0 #fefc4b;
      }
  
      20% {  
          transform: translateY(-1em);
          text-shadow: 
              0 0.125em 0 #0c2ffb, 
              0 0.25em 0 #2cfcfd, 
              0 -0.125em 0 #fb203b, 
              0 -0.25em 0 #fefc4b;
      }
  
      40% {  
          transform: translateY(0.5em);
          text-shadow: 
              0 -0.0625em 0 #0c2ffb, 
              0 -0.125em 0 #2cfcfd, 
              0 0.0625em 0 #fb203b, 
              0 0.125em 0 #fefc4b;
      }
      
     60% {
          transform: translateY(-0.25em);
          text-shadow: 
              0 0.03125em 0 #0c2ffb, 
              0 0.0625em 0 #2cfcfd, 
              0 -0.03125em 0 #fb203b, 
              0 -0.0625em 0 #fefc4b;
      }
  
      80% {  
          transform: translateY(0);
          text-shadow: 
              0 0 0 #0c2ffb, 
              0 0 0 #2cfcfd, 
              0 0 0 #fb203b, 
              0 0 0 #fefc4b;
      }
  }
  
  @media (prefers-reduced-motion: reduce) {
      * {
        animation: none !important;
        transition: none !important;
      }
  }












/*************************MY JOURNEY END | TECHS START********************************/
.techs {
  background-image: url(images/main/black.jpg);
  background-size: cover;
  background-color: var(--primary-white);
  text-align: center;
  padding-bottom: 2.5%;
  margin-bottom: 0;
}

.techs h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  padding: 3rem 0;
}

.techs-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
}

.techsCarou {
  color: var(--primary-sky);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 8rem;
}

.carousel .slide img {
  width: 10rem !important;
}


/*************************TECHS END | CONTACTS START********************************/


/*************************TECHS END | ACCOLADES START********************************/

.rewards {
  background: url(images/main/appreciation.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1rem 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rewards h1 {
  color: var(--primary-black);
  padding: 1.3rem 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  margin-top: 3%;
  font-weight: bold;
}


/*************************ACCOLADES END | CONTACT START********************************/

.contacts {
  background: url(images/main/contact.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1rem 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts h1 {
  color: var(--primary-black);
  padding: 1.3rem 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  margin-top: 3%;
}

.contacts p {
  color: var(--primary-black);
  font-size: 1.2rem;
}

.cv-offer {
  border: 1px solid var(--primary-black);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-black);
  margin: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.cv-offer:hover {
  text-decoration: none;
  background-color: var(--back-colour);
  color: var(--primary-black);
  transition:  .2s ease-in-out;
}

.btn-main-offer {
  border: 1px solid var(--primary-black);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-black);
  margin: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--back-colour);
  color: var(--primary-black);
  transition:  .2s ease-in-out;
}

/*---------------------INPUTS------------------------*/



.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: none;
  border-bottom: 0.125rem solid var(--primary-white);
  border-radius: 0;
  color: var(--primary-black);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 2.45%;
  padding-left: 0 !important;
  font-family: 'Josefin Sans', sans-serif;
  

  /*  margin-top: 3.7%;
  position: relative;
  background: url(images/main/banner1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;*/
}

.contacts .container {
  padding: 4% 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: rgb(61, 61, 61);
  border-bottom: 0.125rem solid var(--primary-details);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contacts textarea {
  height: 16.98rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: var(--back-colour);
}

.cv-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: var(--back-colour);
}


.line {
  position: relative;
  top: -2.1rem;
  width: 0;
  height: 0.2rem;
  background: var(--primary-orange);
  display: inline-block;
}

.text-center ::placeholder {
  
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: var(--primary-black-light) !important;
  
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}


input .form-control {
  margin: -0.3rem 0;
}

textarea .form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-dark-red);
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.success-message {
  font-weight: 900;
  color: var(--primary-dark-green);
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}



/*---------------- MEDIA -----------------------*/
/*@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}*/


/*************************CONTACTS END | FOOTER START********************************/

.footer {
  color: var(--primary-black);
  margin-top: -1rem;
  text-align: center;
  margin-left: 51.5%;
  width: 40%;
  margin-bottom: 0%;
}

.footer a {
  text-decoration: none;
  color: var(--primary-black);
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9rem;
}

.call-up:hover {
  color: var(--primary-dark-green) !important;
  cursor: pointer;
}

.footer p {
  text-decoration: none;
  color: var(--primary-black);
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9rem;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-dark-red);
  cursor: pointer;
}


.foot-wrap p {
  color: #fff;
  background: linear-gradient(to right,#571919 10%, #005279 50%, #066809 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/***************************SOCIAL SHARE*********************************************/


@-webkit-keyframes fadeIn {
  0% { opacity: 0; }    
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }    
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }    
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }    
  100% { opacity: 1; }
}

  #social-share {
      position: fixed;
      right: 0px;
      top: 50%;
      z-index:10;
  }
  
      #social-share a {
          text-decoration: none;
          float: right;
      }

      #social-share a:not(:first-child) {
          animation:fadeOut 0.5s;
          display: none;
      }        

      #social-share:hover a:not(:first-child) {
          display: inline;
          -webkit-animation: fadeIn 0.5s;
          -moz-animation: fadeIn 0.5s;
          -o-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
      }

      #social-share:hover .fa-share-alt {
          border-radius: 0px;
      }
                    
      #social-share a .my-social {
          border-right: 0;
      }

      #social-share a .fa-facebook-f {
          padding: 8px 12px;
          color: #3F51B5;
          
      }

  #social-share a .fa-envelope {
          color: #b53f3f;
    border-radius: 3px 0px 0px 3px;
      }

      #social-share a .fa-envelope-open {
        color: #03608b;
    }
       
      #social-share a .fa-twitter {
          color:#87ceeb;
      }

      #social-share a .fa-whatsapp {
          color:#008000;
      }

      #social-share a .fa-linkedin-in {
          color:#607d8b;
      }

      #social-share a .fa-reddit-alien {
          color:#ff6c00;
      }

      #social-share a .fa-instagram {
          color:#ff1740;
          padding: 8px 11px;
      }
       
      #social-share > a > .fa-share-alt {            
          color: #2196f3;
          border-right: 0;
          padding: 8px 10px;   
          border-radius: 3px 0px 0px 3px;    
      }
        
      #social-share #facebook:focus > .fa-facebook-f, #social-share .fa-facebook-f:hover {
          background-color: #3F51B5;
          border-color:#3F51B5;
          color: #fff;
      }
       
      #social-share #twitter:focus > .fa-twitter, #social-share .fa-twitter:hover {
          background-color:#87ceeb;
          border-color: #87ceeb;
          color:#fff;
      }
       
      #social-share #whatsapp:focus > .fa-whatsapp, #social-share .fa-whatsapp:hover {
          background-color:#008000;
          border-collapse: #008000;;
          color:#fff;
      }
       
      #social-share #linkedin:focus > .fa-linkedin-in, #social-share .fa-linkedin-in:hover {
          background-color:#607d8b;
          border-collapse: #607d8b;;
          color:#fff;
      }
       
      #social-share #reddit:focus > .fa-reddit-alien, #social-share .fa-reddit-alien:hover {
          background-color:#ff6c00;
          border-collapse: #ff6c00;;
          color:#fff;
      }
       
      #social-share #instagram:focus > .fa-instagram, #social-share .fa-instagram:hover {
          background-color:#ff1740;
          border-collapse: #ff1740;
          color:#fff;
      }
       
      #social-share #share:focus > .fa-share-alt, #social-share .fa-share-alt:hover {
          color: #fff;
          background-color: #2196f3;
          border-color: #2196f3;
      }

  #social-share #gmail:focus > .fa-envelope, #social-share .fa-envelope:hover {
          background-color: #b5473f;
          border-color:#b53f3f;
          color: #fff;
      }

      #social-share #outlook:focus > .fa-envelope-open, #social-share .fa-envelope-open:hover {
        background-color: #03608b;
        border-color:#03608b;
        color: #fff;
    }

      .my-social {
          font-size: 1.5em;
          border: 1px solid #3F51B5;
          padding: 8px 10px;
          cursor: pointer;
          transition: all 0.4s ease-out;
          -webkit-transition: all .4s ease-out;
          -moz-o-trasition: all .4s ease-out;
          -o-trasition: all .4s ease-out;
      }


